<!DOCTYPE html>
<html lang="en">
<%- include('header.ejs') %>
<body>
    <%- include('navbar.ejs', { search : search }) %>
<section class="content-cards">
    <h1><div class="title">Search results for "<%= title %>"</div></h1>
    <div class="cards-container">
        <% articles.forEach(function(article) { %>
           
            <div class="card">
                <a href="/content/<%= article.type%>/<%= article.id %>">
                    <% if (article.imageBase64) { %>
                        <img src="data:<%= article.imageMimeType %>;base64,<%= article.imageBase64 %>" alt="<%= article.title %>">
                    <% } else { %>
                        <img src="/path/to/default/image.png" alt="<%= article.title %>">
                    <% } %>
                    <div class="title"><%- article.title %></div>
                    <div class="content"><%= article.content %></div>
                </a>
            </div>
        
        <% }); %>
    </div>
</section>

<!-- Pagination Section -->
<div class="pagination-container">
    <% if (pagination.currentPage > 1) { %>
        <a href="?type=<%= type %>&tag=<%= tag %>&page=<%= pagination.currentPage - 1 %>">Previous</a>
    <% } %>

    <% for (let i = 1; i <= pagination.totalPages; i++) { %>
        <a href="?type=<%= type %>&tag=<%= tag %>&page=<%= i %>" 
           class="<%= i === pagination.currentPage ? 'active' : '' %>">
           <%= i %>
        </a>
    <% } %>

    <% if (pagination.currentPage < pagination.totalPages) { %>
        <a href="?type=<%= type %>&tag=<%= tag %>&page=<%= pagination.currentPage + 1 %>">Next</a>
    <% } %>
</div>

<%- include('footer.ejs') %>
</body>
</html>
