<!DOCTYPE html>
<html lang="en">
<%- include('header.ejs')%>
<body>
    <%- include('navbar.ejs' , { search : "" }) %>
    
    <div class="split-section">
        <div class="left-split">
            <%- include('hero-grid_cards.ejs', { title: 'Tech News', articles: data.techNews }) %>
            
            <%- include('featured-grid_cards.ejs', { title: 'Health News', articles: data.healthNews }) %>
        </div>
        
        <div class="right-split">
            <%- include('latest-grid_cards.ejs', { title: 'Latest Blogs', articles: data.latestBlogs }) %>
            
            <%- include('latest-grid_cards.ejs', { title: 'Latest News', articles: data.latestNews }) %>
        </div>
    </div>
    <%- include('featured-leaders.ejs', { leaders: data.leaders }) %>
    <%- include('featured-grid_cards.ejs', { title: 'Manufacturing News', articles: data.manufacturingNews }) %>
    <%- include('featured-grid_cards.ejs', { title: 'Featured Blogs', articles: data.featuredBlogs }) %>
    <%- include('featured-grid_cards.ejs', { title: 'Featured Press', articles: data.featuredPress }) %>
    <%- include('featured-grid_cards.ejs', { title: 'Solutions', articles: data.solutions }) %>
    
    <%- include('magazines.ejs', {articles: data.magazines})%>
    <%- include('blogspot.ejs')%>
    <%- include('client-reviews.ejs')%>
    <%- include('footer.ejs')%>
</body>
</html>
