<div class="latest-grid_cards">
    <h1><%= title %></h1>
    <% articles.forEach(function(article) { %>
        <a href="/content/<%= article.type %>/<%= article.id %>" class="card">
            <% if (article.imageBase64) { %>
                <img src="data:<%= article.imageMimeType %>;base64,<%= article.imageBase64 %>" alt="<%= article.title %>">
            <% } else { %>
                <img src="/path/to/default/image.png" alt="<%= article.title %>"> <!-- Placeholder image if no image -->
            <% } %>
            <div class="title"><%= article.title %></div>
        </a>
    <% }); %>
</div>
