<div class="latest-grid_cards">
    <h1><%= title %></h1>
    <% articles.forEach(function(article) { %>
        <a href="/content/<%= article.type%>/<%= article.id %>" class="card">
            <img src="<%= article.image %>" alt="<%= article.title %>">
            <div class="title"><%= article.title %></div>
            <!-- <div ><%= article.type %></div> -->
        </a>
    <% }); %>
</div>
